section {
    height: 100vh;
}

section#preferences, section#final {
    background-color: var(--light-background);
    padding-top: 8vh;
    position: relative;
}

section#final .MuiTypography-root {
    width: 27vw;
    position: absolute;
    right: 10%;
    top: 44%;
}

.mushroom-img {
    width: 270px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}

.plants-img {
    width: 60vw;
    height: 100vh;
    position: absolute;
}

header.bienvenida {
    width: 40vw;
    position: absolute;
    left: 10vw;
    top: 31vh;
}

header.bienvenida h1 {
    font-weight: 400;
}

header.bienvenida span {
    color: var(--seconday-main);
    font-weight: 800;
}